// app global css in SCSS form



html, body {
	font-family: 'Outfit';
}

.title{
	font-size: 3rem;

}
.text{
	font-size: 1.3rem;
}

.text2{
	font-size: 1.1rem;
}

.text3{
	font-size: 2rem;
}


.center{
	max-width:1000px; 
	margin: auto;
}

.parallax{position: relative;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
  
@supports (background-attachment: fixed){
	.parallax{ background-attachment: fixed;}

}

@media (max-width: 1366px){
}

.GL{
 &__toolbar-link{
    a{ color: white;
		text-decoration: none;
		&:hover{
		  opacity: 0.7;
		}}
     
        
 }
}
